@charset "UTF-8";


body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(20,147,220),rgb(17,54,71));
    color: white;
    
}

.formulario{
   
    margin: auto;
    background-color: rgb(0, 0,0,0.6);
    padding: 15px;
    border-radius: 15px;
    width: 60%;color: white;
    
    
    
    
}
fieldset{
    border: 3px solid dodgerblue;
    
}
legend{
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color:dodgerblue;
    border-radius: 8px;
    
}

input{margin: 3px 0px 30px 0px;}
input[type="radio"]{
    margin: 10px 0px 0px 10px;
}
#data_da_banca{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 12px;
    width: 60%;
}
#horario{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 12px;
    width: 60%;
}
#resumo{
    background: none;
    
    border: 3px solid dodgerblue;
    outline: none;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
    color: white;
    border-radius: 5px;
    max-width: 90%;
}
.boxtextarea{
    text-align: center;
    
}
.inputbox{
    position: relative;
    width: 100%;
   
}

.inputusuario{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
    color: white;
}
.efeito_de_mini_zoom{
position: absolute;
top: 0px;
left: 0px;
pointer-events: none; /*qualquer luga que clicar dentro do input ele vai executar a ação*/
transition: .5s;
}
.inputusuario:focus ~ .efeito_de_mini_zoom, .inputusuario:valid ~.efeito_de_mini_zoom{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}
.iden_de_banca{
    margin: 20px;
    position: relative;
    border-radius: 20px;
    

    
    
}

#submit{
    background-image: linear-gradient(to right, rgb(0,90,197), #1E922F);
    width: 100%;
    border: none;
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    
   
}

#submit:hover{
    background-image: linear-gradient(to right, rgb(0,80,172), #28b43d);
}

.titulo{
    text-align: center;
}

.segundo_bloco{
    display: inline-block;
    
    width: 43%; 
    margin:10px 20px ;

 }
hr{border: solid 1px dodgerblue;margin: 30px;}



