@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
*{
    margin: 0px;
    padding: 0px;
    
}



body{
    box-sizing: border-box;
    background-color: black;
    color: #00ff88;
    font-family: "Noto Sans", sans-serif;
   transition: all 0.4s ease-in-out;
}

/*
-----cabeça------
*/


h1{
    font-size: 40px;
    text-align: center;
    margin: 30px;
    color: #77FFC0;
    
    
 
   
}
h3{
    text-align: center;
    

}
/*Modo claro e modo escuro*/


.light header{
    background-image: linear-gradient(to right,rgb(55, 226, 169),rgb(68, 143, 241));
    color: #0f73e6;
}

.light{
    background-image: linear-gradient(to right,rgb(86, 156, 247),aliceblue);
    color: black;
    
}
.light h1,.light h3{
    color: white;
    text-shadow: rgba(0, 0, 0, 0.527) 5px 2px 5px;
}
.light .bi-sun{color: white;}
.light .opcoes{
    background-image: linear-gradient(to right,aliceblue,rgb(53, 130, 231));
}


.light  .navegacao label{
    border:solid 2px black;
}
.light  .navegacao label:hover{
    background-color: #00ff88;
}

.light .textfield>input{
   
    background-color: aquamarine;
    color: black;
    
}
.light header a{
    color: white;
}
.light .right_part a:hover{
    color: #0f73e6;
}
.light::-webkit-scrollbar-track {
    background: #EEF7FF;      
  }
/*Modo claro e modo escuro*/

/*
-----cabeça------
*/
 /*Main*/
 /*Parte para agendar apresentações, tcc e seminários*/
 .opcoes{ 
    
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    background-color: #362d49;
    height: 90vh;
    width: 97vw;
     margin: auto;
    
       
 }
 .opcoes2{
    flex-direction: row;
 }
 .opcoes{
    margin-bottom: 20px;
    box-sizing: border-box;
 }
 .left_part{
    display: flex;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

 }
 .estudantes_felizes{width: 30vw;}
 .estudantes__com_duvidas{ width: 30vw;
}
 .right_part{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction:column;
    
    align-items: center;
    font-size: 1.6em;
    
 }
 
 .card_opcoes{
    
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    
 }

.textfield{
    
    font-size: 1rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}
.light .textfield h3 a{
    cursor: pointer;
    color: currentColor;
    color: white;}

.textfield a:hover{
    color: rgb(0, 162, 255);
}

 
/*carrossel de imagens*/

 

#carrossel{
    
    box-sizing: border-box;
    overflow: hidden;
   border-radius: 20px;
    

   margin: auto;
    height: 70vh;
    width: 60vw;
    
   
    
 }
 #slides{
    display: flex;
    height: 100%;
    width: 500%;
    background: no-repeat;
   
    
 } 

 .slide{
   
    width: 20%;
    transition: .6s;
    
     
}
.slide .text_aside {
    
   display: flex;
   align-items: center  ;
   flex-direction: column;
   justify-content: center;
   height: 20%;
   width: 100%;
   
   background-color: #362d4959; 
      

}
.slide .text_aside p{
    font-weight: 800;
    color: white;
}
#imagem1{ 
    background-image: url('../imagens/apresentacao1.jpg');
    background-size:cover;
    background-repeat: no-repeat;  
    height: 100%;
    width: 100%;
}
#imagem2{
    background-image: url('../imagens/apresentacao2.jpg');
    /*Toma cuidado com os caminhos das imagem o live server pode enganar*/
    background-size: cover;
   
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
#imagem3{
    background-image: url('../imagens/apresentacao3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
#imagem4{
    background-image: url('../imagens/apresentacao4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
#slide1:checked ~ .s1{
    margin-left: 0;
    width: 20%;
    height: 100%;
    
    
}
#slide2:checked ~ .s1{
    margin-left: -20%;
   
    
    width: 20%;
    height: 100%;
}
#slide3:checked ~ .s1{
    margin-left: -40%;
    
    width: 20%;
    height: 100%;
}
#slide4:checked ~ .s1{
    margin-left: -60%;
    
    width: 20%;
    height: 100%;
}



 .navegacao{
   
   display: flex;
   position: relative;
   margin: auto;
  
   justify-content: center;
     

 }

 
 .navegacao label{
    
    display: block;
    
   cursor: pointer;
   border-radius: 5px;
    width: 70px;
    height: 17px;
    border: 2px solid rgb(216, 213, 213);
    margin: 10px; transition: .4s;
    
 }
 
 .navegacao label:hover{
    background-color: #00ff88;
   
 }

 input[type='radio']{display: none;}
/*carrossel de imagens*/
