@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
body{
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    background-color: #201b2c;
    color: #00ff88;
}
body *{
    box-sizing: border-box;
    
    
}
/*
MODO CLARO E ESCURO
*/


.light .left-login h1{color: #2c8de2;}

.light{
    background-image: linear-gradient(to right,aliceblue,rgb(53, 130, 231));
    
    color: #005BAA;
}
.light header {
    background-image: linear-gradient(to right,rgb(190, 220, 247),rgb(53, 130, 231));
    color: white;
}
.light header a{
    color: white;
}
.light .main-login{
    background-image: linear-gradient(to right,aliceblue,rgb(53, 130, 231));
}
.light .card-login{
    background-color: aliceblue;
}
.light .card-login h1{
    color: #005BAA;
}
.light .card-login label{
    color: #005BAA;
}
.light .esquecisenha a{
    
    color: #005BAA;
    
}

.light .btn-login{
    color: black;
    background-color: #2c8de2;
    box-shadow: 0px 10px 40px -12px #00b7ff52;
}

#moca_do_escritorio-day{
    display: none;
}
.light #moca_do_escritorio-day{
    
    display: block;   
}

.light #moca_do_escritorio-night{
    display: none;
}



.main-login{
    width: 100%;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login h1{
    color: #77ffc0;
    font-size: 3vw;

}
.moca_do_escritorio{
    width: 32vw;   
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.textfield>input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield>label{
    color: #f0ffffde;
    margin-bottom: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.textfield>input::placeholder{
color: #f0ffff94;
}
.esquecisenha{
    display: flex;
    align-items: flex-end;
    color: #514869;
    margin-top: 5px;
    margin-bottom: 3px;
}

.esquecisenha a{
    
    color: #f0ffffde;
    
}

.escolha{
    width: 100%;
    margin: 20px;
    
   
  }
.btn-login{
    width: 100%;
    padding: 16px 0px;
    
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff0052;
}

