@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Noto Sans";
    background-color:black;
    color: white;
}
.light header {
    background-image: linear-gradient(to right,rgb(104, 230, 209),rgb(53, 130, 231));    color: #005BAA;
}
.light header a{
    color: white;
}
.light .bi-sun{
    color: white;
}
.light{
    background-image: linear-gradient(to right,rgb(53, 130, 231),rgb(104, 230, 209)); 
    color: white;
}
.light .bloco{
    color: black;
     background-color:aliceblue;
     border: solid 3px aqua;
    }
.light .bloco  img{
    border:solid 5px #005BAA;
}
.light .coor{
    border: solid 3px rgb(39, 214, 16);
}
.light::-webkit-scrollbar-track {
    background:#68E6D1;
           
  }

h1{text-align: center;}


#componentes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 1s ease;
   
    
}
.bloco{
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    border: solid 3px greenyellow;
    

    overflow: hidden;
    background-color: #201b2c;
    

    box-shadow: 2px 2px 7px black;
    height: 550px;
    width:  400px;
    margin: 10px;
    transition: all 1s ease;
    
    
}

.coor{
    border: solid 3px rgb(62, 62, 241);
}
.orien{
    border: solid 3px aqua;
}
.light .orien{
    border: solid 3px rgb(62, 62, 241);
}

.bloco  img{
    border-radius: 50%;
    border:solid 5px black;
    height: 150px;
    width: 150px;
 
}
p{
    justify-content: center;
    margin: 10px;
    font-size: 1.3em;
}
.bolinhas{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.bolinha{
    width: 20px;
    height: 20px;
   
    border-radius: 50%;

}
.balls{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1rem;
    margin-top: 20px;
}
.light .baluno{background-color: aqua;}
.light .bprof{ background-color:rgb(39, 214, 16) ;}
.light .borien{background-color:  rgb(62, 62, 241);}

.baluno{
background-color: #00ff88;
}

.borien{
    background-color: aqua;
}
.bprof{
    background-color: rgb(62, 62, 241);
}
.linha{
    height: 80vh;
    width: 95vw;
}
.referencias{
    text-align: center;
}