body{
    
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
}
.left-login{
   margin: auto;
   width: 50vw;
    
}
.left-login img{
    width: 80%;
    
}
.card-login{
    height: 100vh;
}
.right-login{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
#mensagem{
    background-color: #403758;
    margin: auto;
    border-radius: 10px;
    color: aliceblue;
   box-sizing: border-box;
   max-height:100px;
   max-width: 80%;
 
    
}
#mensagem::placeholder{
    color: aliceblue;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}
.nota{
    
    display: flex;
    
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: none black 2px;
    width: 60%;
   
    background: #403758;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    margin: 10px; 
}
.notas{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2f2841;
    margin: auto;
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    font-weight: 600;
    font-size: 1.3em;
   
}
h1{color: #77FFC0;}
.titulo{
text-align: center;
margin-top: 50px;


}

.t2{
margin-top: 4em;

}
.light .notas{
background-color: aliceblue;
}
.light .nota{
background-color: aliceblue;
box-shadow: blue;
}
.light #mensagem{
    background-color: aliceblue;
    color: #005BAA;
}
.light #mensagem::placeholder{
    background-color: aliceblue;
    color: #005BAA;
}
.light h1{
    color: rgb(0, 140, 255);
   
}
.light .left-login .day{display: none;}
.light .left-login .night{display: block;}
.night{
    display: none;
}
.btn-login{
    margin: 20px;
}

@media (max-width: 950px){
    .left-login{
        width: 80%;
         height: auto;
         margin-top: auto;
    }
   .notas{
    margin-top: auto;
    flex-wrap: wrap;
    
    align-items: center;
    justify-content: center;
    
   }
   .nota{
    display: inline-block;
    width: 40%;
    font-size: 1em;
   }
   .card-login{
    height: auto;
}
   
   
}
@media only screen and (max-width: 650px){
    .left-login{
        width: 100%;
        height: auto;
        margin-top: auto;
    }
    .notas{
        margin-top: auto;
     height: auto;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     
    }
    .nota{
     
     width: 100%;
     font-size: 1em;
    }
    .card-login{
        height: auto;
        margin-top: auto;
    }
    
 }