@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
        height: 150vh;
    }
    .left-login>h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .moca_do_escritorio{
        width: 100%;
    }
    .card-login{
        width: 90%;
        
    }
    .moca_do_escritorio{
        width: 70vw;
        
        
    }
}