/* Typical Device Breakpoints
-----------------------------
Pequenas Telas:
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px
*/


@media only screen and (max-width: 950px){
    body{box-sizing: border-box;}
    .card-login{
        width: 80%;
        height: 60vh;
    }
    #menu{margin-right: 30px;}
}

@media only screen and (max-width: 700px){
    .main-login{
        flex-direction: column;
        height: 150vh;
    }
    .left-login>h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .moca_do_escritorio{
        width: 100%;
    }
    .card-login{
        width: 90%;
        
    }
    .moca_do_escritorio{
        width: 70vw;
        
        
    }
   
}